@using Microsoft.AspNetCore.Components.Rendering

<button class="btn btn-info" @onclick="ShowAction">@(!_isShow ? "-_-" : "^_^")</button>
@if (_isShow)
{
    @ChildContent
}

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    private bool _isShow = false;
    
    private void ShowAction()
    {
        _isShow = !_isShow;
    }
}